.form {
  background-color: var(--color-white);
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 24px;
  font-weight: 00;
  color: var(--color-text-dark);
  margin: 0;
}

.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.field label {
  font-size: 16px;
  font-weight: 500;
  color: var(--color-text-dark);
}

.required {
  color: #e11d48;
  margin-left: 2px;
}

.field input,
.field textarea {
  padding: 14px;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  font-size: 14px;
  color: var(--color-text-dark);
  background-color:#F3F4F6;
  resize: none;
}

.field input:focus,
.field textarea:focus {
  outline: none;
  border-color: var(--color-primary);
  background-color: var(--color-white);
}

.successMessage {
  font-size: 16px;
  font-weight: 500;
  color: #16a34a;
  background-color: #ecfdf5;
  padding: 12px 16px;
  border-radius: 8px;
}

@media (max-width: 576px) {
  .row {
    grid-template-columns: 1fr;
  }

  .form {
    padding: 24px 32px 32px;
  }
}