* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  color: #1a1a2e;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

img {
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font-family: inherit;
}