.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
}

.center {
  align-items: center;
  text-align: center;
}

.left {
  align-items: flex-start;
  text-align: left;
}

.eyebrow {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0%;
  line-height: 121%;
  text-transform: uppercase;
  color: var(--color-primary);
}

.heading {
  font-size: 48px;
  font-weight: 600;
  color: var(--color-text-dark);
  max-width: 620px;
}

.highlight {
  color: var(--color-primary);
}

.subtext {
  font-size: 20px;
  font-weight: 400px;
  color: var(--color-text-muted);
  max-width: 560px;
  line-height: 150%;
}
.divider {
  display: block;
  width: 40px;
  height: 3px;
  background-color: var(--color-primary);
  border-radius: 4px;
  margin-top: 8px;
}
@media (max-width: 576px) {
  .heading {
    font-size: 24px;
  }

  .wrapper {
    margin-bottom: 28px;
  }
}